/* CSS */
.home-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-profile .profile {
  text-align: center;
  margin-bottom: 20px;
}

.home-profile .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.home-profile .name {
  margin-top: 10px;
}

.home-grid .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #ff4545;
}

.home-grid .grid-item {
  border: 3px solid #ffffff;
  border-radius: 15px;
  background-color: #000000;
  padding: 5px;
  color: #ffffff;
}

.home-grid .grid-content {
  padding: 20px;
  font-size: 20px;
}

.home-grid .grid-content p {
  margin-bottom: 10px;
}

.home-grid h3 {
  font-size: 30px;
}

.home-grid h2 {
  font-size: 40px;
}
